<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <title>Выбор техник</title>

    <meta charset="utf-8">

        <link rel="stylesheet" href="{% static 'css/style_index.css' %}">

</head>
<body>
<div class="instr">
    Короткая инструкция
    <p>
    Просто выбирай тактики и техники. Внизу увидишь кнопку создать модель.
    <p>
    </p>
    Congratulations
    </p>
</div>

    <div class="row">
            {% for tactic in tactics %}
        <div class="wrapper">
            <form action="" method="post">
                {% csrf_token %}

                        <div class="form-check-tactic">
                            <input class="form-check-input" type="checkbox" value="{{ tactic.id }}" id="{{ tactic.name }}" name="list_tactic_id">
                            <label class="form-check-label" for="{{ tactic.name }}">{{ tactic.name }}</label>
                        </div>

                    {% for technic in tactic.technics.all %}
                        <ul>
                            <div class="form-check-technic">
                                <input class="form-check-input" type="checkbox" value="{{ technic.id }}" id="{{ technic.name }}" name="list_technic_id">
                                <label class="form-check-label" for="{{ technic.name }}">{{ technic.name }}</label>
                            </div>
                        </ul>
                    {% endfor %}
        </div>
            {% endfor %}
                <button class="button1" type="submit">Создать модель</button>
            </form>
    </div>

</body>
</html>