<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <title>Результат</title>

    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

</head>
<body>


<div class="row">
    <div class="col-1">
        {% for tactic in tactics %}
            {% if tactic.id == 1 %}
        <div class="wrapper">
            <div class="item">
                {{ tactic.name }}
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-1">
        {% for tactic in tactics %}
            {% if tactic.id == 2 %}
        <div class="wrapper">
            <div class="item">
                {{ tactic.name }}
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-1">
        {% for tactic in tactics %}
            {% if tactic.id == 3 %}
        <div class="wrapper">
            <div class="item">
                {{ tactic.name }}
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

   <div class="col-1">
        {% for tactic in tactics %}
            {% if tactic.id == 4 %}
        <div class="wrapper">
            <div class="item">
                {{ tactic.name }}
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>

</div>


<div class="row">
  <div class="col-1">

        {% for technic in technics %}
            {% for tactic in tactics %}
      <!--        сравниваем для того чтобы привязать техники к родительской тактике,
            дальше можно привязать не к id а к номеру в модели-->
                {% if tactic.id == technic.tactics.id %}

                    {% if technic.tactics.id == 1 %}
                        <div class="wrapper1">
                            <div class="item1">
                                {{ technic.name }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}

</div>


  <div class="col-1">
        {% for technic in technics %}
            {% for tactic in tactics %}
                {% if tactic.id == technic.tactics.id %}

                    {% if technic.tactics.id == 2 %}
                        <div class="wrapper1">
                            <div class="item1">
                                {{ technic.name }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}
</div>

      <div class="col-1">
        {% for technic in technics %}
            {% for tactic in tactics %}
                {% if tactic.id == technic.tactics.id %}

                    {% if technic.tactics.id == 3 %}
                        <div class="wrapper1">
                            <div class="item1">
                                {{ technic.name }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}
</div>

    <div class="col-1">
        {% for technic in technics %}
            {% for tactic in tactics %}
                {% if tactic.id == technic.tactics.id %}

                    {% if technic.tactics.id == 4 %}
                        <div class="wrapper1">
                            <div class="item1">
                                {{ technic.name }}
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endfor %}
</div>
</div>





<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'js/popper.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'js/main.js' %}"></script>-->

</body>
</html>


